<template>
    <h1>Vue Github Users</h1>
    <p>Aplicação Vue.js que recupera os usuários do Github.</p>
    <p>
        Dependências:
        <ul>
            <li>"bootstrap": "^3.3.6"</li>
            <li>"vue": "^1.0.0",</li>
            <li>"vue-resource": "^0.7.0",</li>
            <li>"vue-router": "^0.7.11"</li>
        </ul>
    </p>
</template>

<script>
export default {
  data () {
    return {
    }
  }
}
</script>

<style>
</style>
