<template>
    <h1>Users</h1>
    <button class="btn btn-primary" v-if="users.length==0" @click="fetchUsers()" :class="{ 'active': users.length>0}">Get Users</button>

    <div class="alert alert-info" v-show="loading">Carregando...</div>
    <div class="row" v-if="users">
        <div class="col-xs-6 col-md-3" v-for="user in users">
            <div class="thumbnail">
                <img :src="user.avatar_url" alt="{{ user.login}}">
                <div class="caption">
                    <a :href="user.html_url">
                        <h3 class="username">{{ user.login }}</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import UserResource from '../resources/users'

    export default {
        data () {
            return {
                users: [],
                loading: false
            }
        },

        methods: {
            fetchUsers() {
                this.loading = true;
                UserResource.get().then( (response) => {
                   this.users = response.data
                    this.loading = false;
                }, (err)=> {
                    console.log(err)
                    this.loading = false;
                })

            }
        },

        ready(){

        }


    }
</script>

<style>
    .username{
        text-align: center;
    }
</style>
