<template>
    <div id="wrapper">
        <nav class="navbar navbar-default">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a v-link="'home'">Home</a></li>
                    <li><a v-link="'users'">Users</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                // note: changing this line won't causes changes
                // with hot-reload because the reloaded component
                // preserves its current state and we are modifying
                // its initial state.
                msg: 'Hello Vue!'
            }
        },

        ready() {

        }
    }
</script>

<style>
    body {
        font-family: Helvetica, sans-serif;
    }
</style>
